<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Infrastructure</h2>
    <p>AWS is what gets me excited about showing up to standup each morning, as well as DigitalOcean for personal projects</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>Python is the standard default when looking to create a backend script in a high level language that supports OOP. Most of my time coding these days revolves around HCL, YAML, and JSON </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Terraform, Azure DevOps, Git, Linux (various distros), Docker, Kubernetes</p>
  </div>
  <div class="tech">
    <h2>Certifications</h2>
    <p>AWS DevOps Pro (2022), Certified Kubernetes Administrator (2022)</p>
  </div>
</div>
