<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Infrastructure</h2>
    <p>AWS is what gets me excited about showing up to standup each morning, as well as DigitalOcean for personal projects</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>Most of my work has been in JavaScript/TypeScript, but I am quite familiar with Python and Java as well.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
